
::-webkit-scrollbar {
    width: 12px; 
    
  }
  
  
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2rem; 
  }
  

  
  ::-webkit-scrollbar-track {
    background: #e0d7d7;
    border-radius: 2rem;
    
  }
  




body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#btn-create{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    max-width: 280px;
    border: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

#btn-create h2{
    margin-top: 0.8rem;
    font-size: 1.3rem;
}


#lista-modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
}


#lista {
    width: 30%;
    min-width: 280px;
    max-width: 300px;
    height: 400px;
    padding: 0;
    border: 1px solid saddlebrown;
    border-radius: 1rem;
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
     
}

#receita-lista p, h2{
    margin: 0;
    margin-bottom: 0.8rem;
}

#receita-lista h2{
    margin-top: 1rem;
    padding-left: 1rem;
}

#receita-lista{
    list-style-type: none;
    min-height: 5rem;
    border-bottom: 1px solid black;
    
}

#receita-lista.last {
    border-bottom: 0px;
}

#vazio {
    margin: 0;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
    padding-left: 1rem;
    list-style-type: none;
    height: 5rem;
    border-bottom: 1px solid black;
}

#vazio.false{
    display: none;
}




.info-resumo{ 
display: flex;
flex-direction: row;
justify-content: space-evenly;



 && .tempo, .rendimento{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 50%;
    padding-left: 1rem;
}
}

#modal{
    border: 1px solid saddlebrown;
    border-radius: 1rem;
    height: 400px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: none;
}
#modal.active{
    border: 1px solid saddlebrown;
    border-radius: 1rem;
    height: 400px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    
}

#modal-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#view{
    border: 1px solid saddlebrown;
    border-radius: 1rem;
    height: 400px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: none;
}
#view.active{
    border: 1px solid saddlebrown;
    border-radius: 1rem;
    height: 400px;
    padding-left: 1rem;
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

#view2{
    width: 100%;
    height: 80%;
    overflow-y: auto;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

#view.active .nome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.fechar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 100%;
}
#x2{
    transform: scale(2);
    padding: 0.5rem;
}
#btn{
    display: flex;
    flex-direction: row;
    align-items: center;

}

#edit-btn{
    border: 1px solid saddlebrown;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.4rem;
    && p{
        margin-block: 0px;
    }
}

#delete-btn{
    border: 1px solid red;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;

    && p{
        margin-block: 0px;
        color: rgb(172, 2, 2);
        font-weight: bold;
    }
}
#view.active #nome{
    font-size: 2rem;
    text-align: left;
    padding-left: 0px;
    padding-top: 0rem;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.info h3{
    font-size: 1rem;
    font-weight: 100;
    padding-right: 0.5rem;
    padding-left: 0rem;
    
}

#view.active .rend, .tempo{
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#view.active .rend{
    padding-right: 1rem;
}

#view.active .ingred{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 0.5rem;

    && h3{
       font-size: 1REM; 
       
    }
    && p{
        font-size: 1rem;
        font-weight: 100;
    }
}

#view.active .preparo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 0.5;
    && h3{
    font-size: 1REM;
    }
    && p{
        font-size: 1rem;
        font-weight: 100;
    }
}
#x{
    transform: scale(2);
}

#add-receita{
    height: 90%;
}

#myform{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    
    
}

#myform-pai {

display: flex;
flex-direction: column;
width: 80%;
gap: 4px;
height: 100%;

}

#myform-row{
    display: flex  ;
    flex-direction: row;
    justify-content: space-between;
}

.book-field{
    width: 100%;
    padding: 0px;
    border: none;
    border-bottom: 1px solid black;
}

#myform.disabled input:disabled{
    background-color: aquamarine;
}

#view2::-webkit-scrollbar {
    display: block;
    width: 5px;
}
#view2::-webkit-scrollbar-track {
    background: transparent;
}
    
#view2::-webkit-scrollbar-thumb {
    background-color: rgb(8, 8, 8);
    border-right: none;
    border-left: none;
}

#view2::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

#view2::-webkit-scrollbar-track-piece:start {
    background: transparent;
    
}